.tablet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn-group {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem; 
    & button { 
        height: 50%;
        width: 18.75rem;
        /* width: 25rem; */
    }
}