.tablet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    gap: 1rem;
}

.btn-group {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem; 
}

.btn-group button {
    height: 50%;
    width: 18.75rem;
    background-color: white;
    filter: drop-shadow(5px 5px 10px #545454);
}

.phone-div {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;

}

.phone-input {
    height: 50px;
    width: 100%;
}

.opt {
    text-align: left;
}

.primary {
    background-color: black;
    width: 18.75rem;
    color: white; 
    height: 60px;
    border-radius: 40px;
    transition: 0.2s ease-in-out;
}
